.img-preview {
    width: 256px;
    height: 256px;
    position: inherit;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

#footer {
    background-color: #C20324;
}

.navbar {
    background-color: #C20324;
    color:#C20324;
    background-image: none;
    background-repeat: no-repeat;
}

.img-preview>div {
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

.image-section {
    text-align: center;
    margin: 0 auto;
    align-content: center;
}
.img-preview{
    text-align: center;
    margin: 0 auto;
    align-content: center;
}

#predict{
    text-align: center;
    align-self: center;

}

#containerDinamico{
    text-align: center;
    width: 50%; 
    margin: 0 auto;
    align-content: center;
}
#containerResult{
    text-align: center;
    width: 50%; 
    margin: 0 auto;
    align-content: center;
    margin-top: 20px;
}

#btn-predict{
    background-color: #C20324;
    color: white;
    margin-top: 20px;

}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #9A8874;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.image-section{
    text-align: center;

}

#uploadButton{
    text-align: center;
}

.upload-label:hover{
    background: rgb(138, 122, 104);
    color: white;
}

#dsu_logo{
    width: 105px;
    height: 70px;
    margin-left: 30px;
    margin-right: 30px;

}
#sik_logo{
    width: 140px;
    height: 75px;
}

#footer_logo{
    width: 150px;
    height: 30px;
    margin-left: 10px;
}

.loader {
    border: 8px solid lightgray; /* Light grey */
    border-top: 8px solid #C20324; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}







.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color:black;
    border-color:black;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color:black;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color:black !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color:black !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}