{% extends "base.html" %} {% block content %}

<body>


<h2 style="text-align: center">Pneumonia detection based on Convolutional Neural Networks
    </h2>

    <h4 style="text-align: center">Upload a picture of your chest X-Ray
        </h4>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <div id="uploadButton">
            <label for="imageUpload" class="upload-label">
                Select Image
            </label>
        </div>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div id="predict">
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>
NOTES
<ul>
<li>This deep learning model has been trained and validated, using the following dataset: <a href="https://data.mendeley.com/datasets/rscbjbr9sj/2">Kermany Daniel, Zhang Kang, Goldbaum Michael (2018). Labeled Optical Coherence Tomography (OCT) and Chest X-Ray Images for Classification. Mendeley Data, v2, http://dx.doi.org/10.17632/rscbjbr9sj.2</a></li>
<li><b style="color:red;">The suitability of this deep learning model for clinical use has not been validated. Therefore it cannot be used for any clinical purpose! It can be used for research purposes and for comparison with other similar models.</b></li>
<li>This web application has been created using code developed by Xin Fu (please see the following repository: </h2><a href="https://github.com/mtobeiyf/keras-flask-deploy-webapp">https://github.com/mtobeiyf/keras-flask-deploy-web-app</a></li>
<li>The final code for this specific web app along with the trained model data can be found in the following repository: </h2><a href="https://github.com/tberris/deep-learning-pneumonia-detection-web-app">https://github.com/tberris/deep-learning-pneumonia-detection-web-app</a></li>
<li>For any comments or suggestions please contact Theocharis Berris at: theocharisberris@gmail.com</li>
</ul>
</body>

{% endblock %}